
ENV=DEV
BAREMAPS_SITES_DOMAIN=localhost
HOST_PG_PORT=5433
APP_PORT=9001
POSTGRES_HOST=localhost
POSTGRES_DB=osmvecto
POSTGRES_PORT=5432
POSTGRES_USER=osmvecto
POSTGRES_PASSWORD=osmvecto
OSMVECTO_PATH=/osmvecto
