
ENV=DEV
BAREMAPS_SITES_DOMAIN=localhost
BAREMAPS_VERSION=v0.5.15
HOST_PG_PORT=5433
APP_PORT=9090
POSTGRES_HOST=db
POSTGRES_DB=osmvecto
POSTGRES_PORT=5432
POSTGRES_USER=osmvecto
POSTGRES_PASSWORD=osmvecto
OSMVECTO_PATH=/osmvecto"
