#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#map1 {
  position: fixed;
  border: solid 1px #fff;
  top: 2px;
  right: 50%;
  bottom: 2px;
  left: 2px;
}

#map2 {
  position: fixed;
  border: solid 1px #fff;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 50%;
}
